<div class='rs_dialog_holder'>
  <div class='rs_dialog'>
    <div class='rs_dialog_content'>
      <h1>Repeat <a href='#' title='Cancel' Alt='Cancel'></a> </h1>

      <p>
        <label for='rs_frequency'>Frequency:</label>
        <select class='rs_frequency' name='rs_frequency'>
          <option>Daily</option>
          <option>Weekly</option>
          <option>Monthly</option>
          <option>Yearly</option>
        </select>
      </p>
      
      <p class='rs_summary'>
        <label>Summary:</label>
      </p>

			<div class="controls">
				<input type="button" class="save" value='OK' />
				<input type="button" class="cancel" value='Cancel' />
			</div>

    </div>
  </div>
</div>