<div class='rs_dialog_holder'>
  <div class='rs_dialog'>
    <div class='rs_dialog_content'>
      <h1>Repeat <a href='#' title='Cancel' Alt='Cancel'></a> </h1>

      <p>
        <label for='rs_frequency'>Frequency:</label>
        <select id='rs_frequency' class='rs_frequency' name='rs_frequency'>
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Monthly">Monthly</option>
          <option value="Yearly">Yearly</option>
        </select>
      </p>

      <div class="daily_options freq_option_section">
        <p>
          Every
          <input type='text' name='rs_daily_interval' class='rs_daily_interval rs_interval' value='1' size='2' />
          day(s)
        </p>
      </div>

      <div class="weekly_options freq_option_section">
        <p>
          Every
          <input type='text' name='rs_weekly_interval' class='rs_weekly_interval rs_interval' value='1' size='2' />
          week(s) on :
        </p>
        <div class="day_holder">
          <a href="#" data-value='0'>S</a>
          <a href="#" data-value='1'>M</a>
          <a href="#" data-value='2'>T</a>
          <a href="#" data-value='3'>W</a>
          <a href="#" data-value='4'>T</a>
          <a href="#" data-value='5'>F</a>
          <a href="#" data-value='6'>S</a>
        </div>

        <span style="clear:both; visibility:hidden; height:1px;">.</span>
      </div>

      <div class="monthly_options freq_option_section">
        <p>
          Every
          <input type='text' name='rs_monthly_interval' class='rs_monthly_interval rs_interval' value='1' size='2' />
          month(s):
        </p>
        <p class="monthly_rule_type">
          <span>Day of Month <input type="radio" class="monthly_rule_type_day" name="monthly_rule_type" value="true" /></span>
          <span>Day of Week <input type="radio" class="monthly_rule_type_week" name="monthly_rule_type" value="true" /></span>
        </p>
        <p class="rs_calendar_day"></p>
        <p class="rs_calendar_week"></p>
      </div>

      <div class="yearly_options freq_option_section">
        <p>
          Every
          <input type='text' name='rs_yearly_interval' class='rs_yearly_interval rs_interval' value='1' size='2' />
          year(s)
        </p>
      </div>


      <p class='rs_summary'>
        <span></span>
      </p>

      <div class="controls">
        <input type="button" class="rs_save" value='OK' />
        <input type="button" class="rs_cancel" value='Cancel' />
      </div>

    </div>
  </div>
</div>
